SECRET_KEY=change-me
DEBUG=True

DB_HOST=notification-db
DB_NAME=notification_db
DB_USER=notification_user
DB_PASSWORD=change-me
DB_PORT=5432

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/%2F
USER_SERVICE_URL=http://user-service-web:8000
INTERNAL_SECRET=change-me

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_HOST_USER=your-mailtrap-username
EMAIL_HOST_PASSWORD=your-mailtrap-password
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=no-reply@example.com
