SECRET_KEY=django-insecure-twoj-tymczasowy-klucz-dla-dev

DB_NAME=order_db
DB_USER=order_user
DB_PASSWORD=order_pass
DB_HOST=order-db
DB_PORT=5432

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/%2F

PAYU_BASE_URL=https://secure.snd.payu.com
PAYU_POS_ID=
PAYU_CLIENT_ID=
PAYU_CLIENT_SECRET=
PAYU_SECOND_KEY=

PAYU_CONTINUE_URL=http://localhost:8003/api/docs/
PAYU_NOTIFY_URL=http://localhost:8003/api/orders/payu-webhook/
